.podcast-screen-container {
  display: flex;
  flex-direction: row;
}

.total-table-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin-left: 5rem;
}

.total-episodes {
  min-width: 23.5rem;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 2rem;
}
