.episodes-table {
  width: 100%;
  padding-top: 1rem;

  > tbody {
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    tr:nth-child(n + 2) {
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #eaeaea;
        cursor: pointer;
      }
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    > tr {
      > th {
        padding: 1rem;
        text-align: center;
        &:first-child {
          padding: 1rem 0 1rem 2rem;
          text-align: left;
        }
      }

      > td {
        font-weight: 500;
        padding: 0.8rem 0;
        &:nth-child(1) {
          padding-left: 2rem;
          padding-right: 2rem;
        }

        &:nth-child(2) {
          padding-left: 1rem;
          padding-right: 1rem;
        }
        &:nth-child(3) {
          text-align: center;
        }
      }
    }
  }
}
