.episode-screen {
  display: flex;

  .episode-screen-description {
    width: 75%;
    margin-left: 5rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    font-style: italic;
    font-weight: 500;
    height: fit-content;

    > h2 {
      margin: 0;
    }

    > audio {
      width: 100%;
    }
  }
}
