.podcast-card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  text-align: center;
  overflow-wrap: break-word;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 2rem 6rem 0;
  padding: 0 0.8rem 0.8rem 0.8rem;

  &:hover {
    background-color: #f4f5f5;
    cursor: pointer;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  img {
    border-radius: 50%;
    margin-top: -30px;
    width: 100px;
    height: 100px;
  }

  h2 {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    font-weight: 600;
  }

  span {
    font-size: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    opacity: 0.6;
  }
}
