.podcast-section {
  display: flex;
  width: 25%;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 1.3rem 1rem 1.3rem 1rem;
  height: fit-content;

  > img {
    align-self: center;
    border-radius: 4px;
    margin-bottom: 1.3rem;

    height: auto;
    width: 80%;
  }

  > h3 {
    padding-left: 0.4rem;
    width: 80%;
    font-size: 15px;
    font-weight: 700;
  }
  > span {
    padding-left: 0.4rem;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.podcast-separator {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}
