.header {
  // border-bottom: 1px solid #b8b8b8;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 2rem;
  padding: 0.8rem 4rem 0.6rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    color: #407ab0;
    text-decoration: none;
    > h2 {
      margin: 0;
      font-size: 20px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.pulsating-dot {
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: #00beff;
  border-radius: 50%;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}

.pulsating-dot:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: #00beff;
  border-radius: 45px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.simple-dot {
  background-color: #00beff;
  border-radius: 50%;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}
