.home-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.home-input-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 2rem;
  margin-bottom: 5rem;
}

.home-input {
  background: transparent;
  padding-left: 0.5rem;
  font-size: 14px;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 4px;

  &::placeholder {
    color: #bbb;
  }
}
