.home-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.home-input-inner {
  display: flex;
  flex-direction: row;
  width: min-content;
  height: 2rem;
  margin-bottom: 5rem;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #407ab0;
    font-weight: bold;
    color: #fff;
    height: 70%;
    margin: auto 0.5rem auto 0;
    border-radius: 5px;
    padding: 0 6px 0 6px;
    font-size: 12px;
  }
}
.home-input {
  background: transparent;
  padding-left: 0.5rem;
  font-size: 14px;
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 4px;

  &::placeholder {
    color: #bbb;
  }
}
